<br>
<% layout('/layouts/boilerplate.ejs') -%>
    <div class="row show-row">
        <div class=" col-6 offset-3">
            <h3>Listing Details :</h3>
            <div class="card">
                <img src="<%=listing.image%>" class="card-img-top show-img" alt="Listing-image">
                <div class="card-body">
                    <h5 class="card-title">
                        <b>
                            <%= listing.title %>
                        </b>
                    </h5>
                    <p class="card-text">
                        <%= listing.description %> <br>
                            &#8377; <%= listing.price.toLocaleString("en-IN") %>/night<br>
                                <%= listing.location %><br>
                                    <%= listing.country %>

                    </p>
                    <div class="show-btns row ">
                        <div class="col-4"><a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit this
                                Listing</a></div>
                        <div class="col-5">
                            <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                                <button class="btn btn-danger">Delete listing</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>