<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
    <link rel="stylesheet" href="/style1.css">
</head>

<body>
    <form action="/listings/<%=fList._id%>/?_method=PUT" method="post">
        <h2>Edit Your Listing here</h2>
        <div class="new-form">
            <input type="text" name="listing[title]" id="" value="<%= fList.title %>">
            <!-- <input type="url" name="url" id="" value=""> -->
            <input type="text" name="listing[description]" id="" value="<%= fList.description %>">
            <input type="number" name="listing[price]" id="" value="<%= fList.price %>">
            <input type="text" name="listing[location]" id="" value="<%= fList.location %>">
            <input type="text" name="listing[country]" id="" value="<%= fList.country %>">
            <button type="submit">Submit</button>
        </div>
    </form>
</body>

</html>