<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyWard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>Welcome to SkyWard</h1>
    <form action="http://localhost:3000/listings/new" method="get">To Add a New Listing <button> New </button></form>
    <br><br>
    <% for(listing of alllistings) {%>
        <div class="list-card">
            <div class="listing-img-card"><img class="listing-img" src="<%= listing.image.url%>" alt=""></div>
            <h3>
                <%= listing.title %>
            </h3>
            <p>
                <%= listing.price %>/night
            </p>
            <p>
                <%= listing.location %>,<%= listing.country %>
            </p>
            <form action="/listings/<%=listing._id %>" method="get"><button>Show Details</button></form>
        </div>
        <% } %>
</body>

</html>