<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>
        <%= fList.title %>
    </title>
</head>

<body>
    <div class="list-card">
        <div class="listing-img-card"><img class="listing-img" src="<%= fList.image.url%>" alt=""></div>
        <h3>
            <%= fList.title %>
        </h3>

        <p>
            &#8377; <%= fList.price.toLocaleString("en-IN") %>/night
        </p>
        <p>
            <%= fList.location %>,<%= fList.country %>
        </p>

    </div>
    <p>
        <%= fList.description %>
    </p>

    <form action="/listings/<%=fList._id%>/edit" method="get">
        <button type="submit">Edit Listing</button>
    </form>
</body>

</html>